<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose carriage</title>
    <style>
        button {
            background-color: dodgerblue;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 15px;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        form {
            display: inline-block;
        }
    </style>
</head>
<body style="background-color: silver">
<h1 style="margin-left: 40%">Choose carriage</h1>
<div>
    <th:block th:each="carriage: ${carriages}">
        <form action="/user/get_seats" method="get" th:object="${searchTravel}">
            <input type="hidden" th:value="${carriage.searchingInfo.cityFrom}" name="cityFrom">
            <input type="hidden" th:value="${carriage.searchingInfo.cityTo}" name="cityTo">
            <input type="hidden" th:value="${carriage.searchingInfo.localDate}" name="localDate">
            <input type="hidden" name="railwayId" th:value="${carriage.railwayId}">
            <input type="hidden" name="carriageNumber" th:value="${carriage.carriageNumber}">
            <button><b>Carriage number: <b th:text="${carriage.carriageNumber}"></b><br>
                Price: <b th:text="${carriage.travelPrice}"></b><br>
                Carriage type: <b th:text="${carriage.carriageType}"></b><br>
                Available seats: <b th:text="${carriage.seats.size()}"></b></b>
            </button>
        </form>
    </th:block>
</div>
</body>
</html>